
<p>
    <a href="/users/add" class="btn btn-warning" title="Add User">Add <i class="bi bi-plus-square"></i></a>
</p>
{{#if users}}
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    {{#each users}}
    <tr>
        <td>{{id}}</td>
        <td>{{username}}</td>
        <td>{{email}}</td>
        <td>
            <a href="/users/{{id}}" class="btn btn-info" title="Edit user"><i class="bi bi-pencil"></i></a> 
            <a href="/users/remove/{{id}}" class= "btn btn-danger" title="Delete user"><i class="bi bi-trash"></i></a>
        </td>
    </tr>
    {{/each}}
{{else}}
    <h2 class="text-secondary text-center">
       No users found!
    </h2>
{{/if}}
</table>


